/* Color palete */
:root{
    --white: #FEFEFE;
    --burnt-sienna: #ee4d4d;
    --gunmetal: #293241;
    --light-cyan: #E0FBFC;
    --dark-sky-blue: #98C1D9;
    --bdazzled-blue: #3D5A80;
}
/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Abel', sans-serif;
}
main{
    padding: 8px 16px;
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(254,254,254,1) 50%, rgba(233,233,233,1) 100%);
}
.no-overflow{
    overflow: hidden;
}
.inactive{
    display: none;
}

/* Components */

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 0 16px 0 0;
    gap: 15px;
    top: 0;
    z-index: 101;
    background-color: var(--gunmetal);
}
.navbar__burger-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    border: none;
    background-color: transparent;
}
.navbar__burger-btn>span{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--light-cyan);
}
.navbar__burger-btn>div{
    display: flex;
    width: 100%;
}
.navbar__burger-btn>div>span{
    width:50%;
    height: 4px;
    background-color: var(--light-cyan);
}
.navbar__burger-btn--origin-left{
    transform-origin: 0% 50%;
}
.navbar__burger-btn--origin-right{
    transform-origin: 100% 50%;
}
.navbar__burger-btn--close-down{
    animation-name: btn-burger-down-rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--open-down{
    animation-name: btn-burger-down-rotate-back;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--close-up{
    animation-name: btn-burger-up-rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--open-up{
    animation-name: btn-burger-up-rotate-back;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--slide-left{
    animation-name: btn-burger-slide-left;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--slide-left-in{
    animation-name: btn-burger-slide-left-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--slide-right{
    animation-name: btn-burger-slide-right;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn--slide-right-in{
    animation-name: btn-burger-slide-right-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navbar__burger-btn>div>span:first-of-type{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.navbar__burger-btn>div>span:last-of-type{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.navbar__logo{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    padding: 8px 16px;
    width: max-content;
    font-size: 2.4rem;
    font-weight: 700;
    z-index: 2;
    
    background-color: var(--burnt-sienna);
}
.navbar__logo::after{
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    height: 100%;
    width: 15px;
    transform: skew(15deg);
    background-color: var(--burnt-sienna);
}
.navbar__logo>a{
    display: block;
    text-decoration: none;
    color: var(--light-cyan);
    
}
.navbar__logo>svg{
    width: 25px;
    height: 25px;
}
.navbar__logo>svg>path{
    fill: var(--gunmetal);
}
.navbar__right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar__button{
    display: block;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--light-cyan);

    background-color: var(--light-cyan);
}
.navbar__button--realtive{
    position: relative;
}
.navbar__button>svg>path{
    fill: var(--gunmetal);
}
.navbar__button>span{
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--light-cyan);
    background-color: var(--burnt-sienna);

}
.navbar__button--add-to-cart{
    animation-name: btn-add-to-cart;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
.mobile-menu__logout{
    padding: 8px  32px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bdazzled-blue);
    background-color: transparent;

}

/* Cart */
.cart{
    position: fixed;
    padding: 8px 16px;
    width: 100%;
    max-width: 540px;
    height: calc(100vh - 52px);
    background-color: var(--light-cyan);
    scroll-behavior: smooth;
    z-index: 100;
}
.cart--open{
    animation-name: cart-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.cart--close{
    animation-name: cart-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.cart--remove-element{
    animation-name: cart-update;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.cart-container{
    height: calc(100% - 123px);
    padding: 8px 0;
    margin-bottom: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-container--empty{
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart__empty-hint--show{
    animation-name: empty-cart-show;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.cart__empty-hint>svg{
    display: block;
    margin: 0 auto 8px;
}
.cart__empty-hint>svg>path{
    stroke: #666;
    fill: none;
}
.cart__empty-hint>p{
    text-align: center;
    font-size: 1.8rem;
    color: #666;
}
.cart__close{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    color: var(--gunmetal);
    background-color: transparent;
}

.cart__close>svg{
    width: 25px;
    height: 25px;
    padding: 5px;
}
.cart__close>svg>path{
    stroke: var(--gunmetal);
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #ddd;
}

.cart-item>img{
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 2px;
}

.cart-item__info{
    width: calc(100% - 178px);
    font-size: 1.5rem;
}
.cart-item__info>div{
    display: flex;
}
.cart-item__info>p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--gunmetal);
}
.cart-item__info>div>button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--bdazzled-blue);
    color: var(--light-cyan);
    background-color: var(--bdazzled-blue);
}
.cart-item__info>div>p{
    width: 30px;
    color: #888;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.cart-item__price{
    font-size: 1.8rem;
    font-weight: 700;
}
.cart-item__remove{
    width: 25px;
    height: 25px;
    padding: 6px;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.cart-item__remove>svg>path{
    fill: #bbb;
}

.cart__checkout>p{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: #ddd;
}
.cart__checkout>p>span:last-of-type{
    font-weight: 700;
}
.cart__checkout>button{
    width: 100%;
    border: 1px solid var(--gunmetal);
    border-radius: 4px;
    padding: 8px 16px;

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light-cyan);
    background-color: var(--gunmetal);
}


/* Title for each section */
.title-section{
    font-size: 2.4rem;
    margin-bottom: 16px;
}

/* Products container */
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    place-content: center;
    gap: 10px 5px;
    margin-bottom: 24px;
}

/* Every product inside container */
.product{
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px 1px #ddd;

    transition: transform 0.25s ease;
}
.product:hover{
    transform: scale(1.05);
}
.product>img{
    width: 100%;
    height: 140px;
    border-radius: 4px;
    object-fit: cover;
}

.product__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.product__info{
    flex-shrink: 0;
    width: calc(100% - 35px);
    font-size: 1.5rem;
    color: var(--gunmetal);
}
.product__info>p:first-of-type{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.product__info>p:last-of-type{
    font-weight: 700;
    font-size: 1.8rem;
}
.product__button{
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--burnt-sienna);
    background-color: var(--burnt-sienna);

    transition: background-color 0.25s ease, border 0.25s ease;
}
.product__button:hover{
    border: 1px solid var(--gunmetal);
    background-color: var(--gunmetal);
}
.product__button>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__button>svg>path{
    fill: var(--light-cyan);
}

.product__button:hover>svg>path{
    fill: var(--burnt-sienna);
}

/* Mobile Menu */
.mobile-menu{
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 540px;
    padding: 8px 0 24px;
    height: calc(100vh - 52px);
    background-color: var(--white);
}
.mobile-menu--open{
    animation-name: mobile-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.mobile-menu--close{
    animation-name: mobile-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.mobile-menu__toast{
    font-size: 2.4rem;
    padding: 0 16px;
    margin-bottom: 24px;
    color: var(--gunmetal);
}
.mobile-menu__title{
    margin-bottom: 12px;
    font-size: 2rem;
    padding: 0 24px;
    color: var(--gunmetal);
}
.mobile-menu__options{
    font-size: 1.8rem;
    list-style-type: none;
    margin-bottom: 16px;
}
.mobile-menu__options>li{
    position: relative;
    padding: 8px 32px;
}
.mobile-menu__options--active{
    color: var(--light-cyan);
    background-color: var(--bdazzled-blue);
}

.mobile-menu__options>li>a{
    text-decoration: none;
    color: var(--gunmetal);
}
ul>.mobile-menu__options--active>a{
 color: var(--light-cyan);   
}

/* wrapper */

.wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 105;
}
.wrapper--show{
    animation-name: fade-in;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.wrapper--hide{
    animation-name: fade-out;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.message-box{
    position: relative;
    padding: 8px 16px 16px;
    border-radius: 4px;
    background-color: var(--light-cyan);
}
.message-box--show{
    animation-name: message-box-show;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.43,-0.08,.32,1.41);
    animation-fill-mode: forwards;
}

.message-box--hide{
    animation-name: message-box-hidde;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.53,-0.48,.76,1.15);
    animation-fill-mode: forwards;
}

.message-box__close{
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: none;

    background-color: transparent;
}
.message-box__close>svg>path{
    fill: #888;
}

.message-box__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.message-box__message{
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.message-box__button{

    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1.5rem;

}
.message-box__button--primary{
    border: 1px solid var(--bdazzled-blue);
    color: var(--light-cyan);
    background-color: var(--bdazzled-blue);
}

/* animations */

@keyframes btn-add-to-cart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

/* Animations */
@keyframes btn-burger-down-rotate {
    0%{
        transform: translate(0, 0) rotate(0deg) ;
    }
    100%{
        transform: translate(25%, 2px) rotate(45deg) ;
    }
}
@keyframes btn-burger-down-rotate-back {
    0%{
        transform: translate(25%, 2px) rotate(45deg) ;
    }
    100%{
        transform: translate(0, 0) rotate(0deg) ;
    }
}

@keyframes btn-burger-up-rotate {
    0%{
        transform: translate(0, 0) rotate(0deg);
    }
    100%{
        transform: translate(25%, 5px) rotate(-45deg);
    }
}
@keyframes btn-burger-up-rotate-back {
    0%{
        transform: translate(25%, 5px) rotate(-45deg);
    }
    100%{
        transform: translate(0, 0) rotate(0deg);
    }
}
@keyframes btn-burger-slide-right {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%) ;
        opacity: 0;
    }
}
@keyframes btn-burger-slide-right-in {
    0%{
        transform: translateX(100%) ;
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes btn-burger-slide-left {
    0%{
        transform: translateX(0) ;
        opacity: 1;
    }
    100%{
        transform: translateX(-100%) ;
        opacity: 0;
    }
}
@keyframes btn-burger-slide-left-in {
    0%{
        transform: translateX(-100%) ;
        opacity: 0;
    }
    100%{
        transform: translateX(0) ;
        opacity: 1;
    }
}
@keyframes mobile-in {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes mobile-out {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
@keyframes cart-open {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }

}

@keyframes cart-close {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }

}
@keyframes cart-update{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-83px);
    }
}

@keyframes empty-cart-show {
    0% {
            transform: scale3d(1, 1, 1);
        }
    
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
    
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
    
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
    
        65% {
            transform: scale3d(0.95, 1.05, 1);
        }
    
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
    
        100% {
            transform: scale3d(1, 1, 1);
        }
}

@keyframes message-box-show {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes message-box-hidde {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}